---
layout: 2019_default
permalink: /2019/team
title: Team
---

    {% include 2019_data/team_members.html %}
    {% include 2019_data/team_members_info.html %}


            <div class="row">
                <div class="img-centered">
                    <a href="https://www.bitcoin.org.hk" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2019_style/img/logos/bahk.png" class="img-responsive img-centered" alt="Bitcoin Association of Hong Kong">
                    </a>
                </div>
            </div>