<!-- Clients Aside -->
    
    <aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <a href="https://www.diginex.com/" class="portfolio-link" title="Diginex" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/diginex.png" class="img-responsive img-centered" alt="Diginex">
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="https://www.b2c2.com/" class="portfolio-link" title="B2C2" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/b2c2.png" class="img-responsive img-centered" alt="B2C2">
                    </a>
                </div>
            </div>
        </div>
    </aside>