<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">SPOT</h2>
                </div>
                <div class="col-lg-12 text-center">
                    <h3>Cryptocurrency Exchanges</h3>
                </div>
            </div>
            <div class="row">
                <h3 class="section-subheading text-center">250 decision makers from the world's leading cryptocurrency exchanges are coming together at the old trading floor of the Hong Kong stock exchange to discuss collaboration, industry standards, technology and regulation. SPOT is a not-for-profit initiative by the Bitcoin Association of Hong Kong.</h3>
                <h3 class="section-subheading text-center"><a href="/2018">See the 2018 line-up here</a></h3>
            </div>
            <div class="row container">
                 <center><a href="/register" class="page-scroll btn btn-xl">Registration Opens Soon</a></center>
            </div>
        </div>
    </section>