<!-- Clients Aside -->
    
    <aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
            </div>
            <div class="row">
                </div>
                <div class="text-center">
                    <a href="https://cardanofoundation.org/" class="portfolio-link" title="Cardano Foundation" data-toggle="modal">
                        <img src="../css/2019_style/img/logos/cardano.png" class="img-responsive img-centered" alt="Cardano Foundation">
                    </a>
                </div>
            </div>
        </div>
    </aside>